# Requirements for TreeEyed Docker container
# Add any additional dependencies as needed
#rasterio==1.4.3
opencv-python-headless==4.11.0.86
gdown==5.2.0
onnxruntime-gpu==1.22.0
pycocotools==2.0.8
shapely==2.0.6
#geopandas==1.0.1
Pyside6==6.9.2
# Uncomment if needed:
# pyproj==3.6.1
# pyarrow==15.0.2
# deepforest==1.4.1
# torch==2.5.1
# torchvision==0.20.1
# scikit-learn==1.6.1

